@inject IJSRuntime JS
@inherits LayoutComponentBase

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>




<div class="page">
    <main>
        
            <div class="sidebar">
                <div class="logo-details">
                    @*<i class='bx bxl-c-plus-plus icon'></i>*@
                    @*<i class='bx bxs-radiation'></i>*@
                    <i class='bx bx-tv'></i>
                    <div class="logo_name">MovieTV</div>
                    <i class='bx bx-menu' id="btn"></i>
                </div>
                <ul class="nav-list">
                    <li>
                        <i class='bx bx-search'></i>
                        <input type="text" placeholder="Search...">
                        <span class="tooltip">Search</span>
                    </li>
                    <li>
                        <a href="fetchdata">
                            @*<i class='bx bx-grid-alt'></i>*@
                            <i class='bx bx-home'></i>
                            <span class="links_name">Home</span>
                        </a>
                        <span class="tooltip">Home</span>
                    </li>
                    <li>
                        <a href="contact">
                            <i class='bx bx-heart'></i>
                            <span class="links_name">Contact Us</span>
                        </a>
                        <span class="tooltip">Contact Us</span>
                    </li>
                    @*<li>
                        <a href="fetchdata">
                            <i class='bx bx-chat'></i>
                            <span class="links_name">Messages</span>

                        </a>
                        <span class="tooltip">Messages</span>
                    </li>
                    <li>
                        <a href="fetchdata">
                            <i class='bx bx-pie-chart-alt-2'></i>
                            <span class="links_name">Analytics</span>
                        </a>
                        <span class="tooltip">Analytics</span>
                    </li>*@
                    @*<li>
                        <a href="#">
                        <i class='bx bx-folder'></i>
                        <span class="links_name">File Manager</span>
                        </a>
                        <span class="tooltip">Files</span>
                        </li>
                        <li>
                        <a href="#">
                        <i class='bx bx-cart-alt'></i>
                        <span class="links_name">Order</span>
                        </a>
                        <span class="tooltip">Order</span>
                        </li>
                        <li>
                        <a href="#">
                        <i class='bx bx-heart'></i>
                        <span class="links_name">Saved</span>
                        </a>
                        <span class="tooltip">Saved</span>
                        </li>*@

                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <li>
                                <a href="AdminAccountManagement">
                                    <i class='bx bxs-group'></i>
                                    <span class="links_name">Account Management</span>
                                </a>
                                <span class="tooltip">Account Management</span>
                            </li>

                            <li>
                                <a href="MovieAdmin">
                                    <i class='bx bx-movie'></i>
                                    <span class="links_name">Movie Management</span>
                                </a>
                                <span class="tooltip">Movie Managementt</span>
                            </li>                            
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="Customer">
                        <Authorized>
                            <li>
                                <a href="MovieCustomer">
                                    <i class='bx bx-movie-play'></i>
                                    <span class="links_name">Movie Customer</span>
                                </a>
                                <span class="tooltip">Movie Customer</span>
                            </li>

                            <li>
                                <a href="Deposit">
                                    <i class='bx bx-money'></i>
                                    <span class="links_name">Deposit</span>
                                </a>
                                <span class="tooltip">Deposit</span>
                            </li>       
                            <li>
                                <a href="BuyVip">
                                    <i class='bx bx-diamond'></i>
                                    <span class="links_name">Buy Vip</span>
                                </a>
                                <span class="tooltip">Buy Vip</span>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="Studio">
                        <Authorized>
                            <li>
                                <a href="MovieStudio">
                                    <i class='bx bxs-camera-movie'></i>
                                    <span class="links_name">Movie Studio</span>
                                </a>
                                <span class="tooltip">Movie Studio</span>
                            </li>

                            <li>
                                <a href="CreateStudio">
                                    <i class='bx bx-cloud-upload'></i>
                                    <span class="links_name">Studio Public Movie</span>
                                </a>
                                <span class="tooltip">Studio Public Movie</span>
                            </li>       
                            <li>
                                <a href="SalaryStudio">
                                    <i class='bx bx-pie-chart-alt-2'></i>
                                    <span class="links_name">Salary Studio</span>
                                </a>
                                <span class="tooltip">Salary Studio</span>
                            </li>
                        </Authorized>
                    </AuthorizeView>

                    <AuthorizeView>
                        <Authorized>                            
                            <li class="profile">
                                <a href="Profile">
                                    <div class="profile-details">
                                    @*<img src="profile.jpg" alt="profileImg">*@
                                    <i class='bx bxs-user-check'></i>
                                    <div class="name_job">
                                        <div class="links_name">
                                            @context.User.Identity.Name
                                        </div>
                                        <div class="links_name">
                                            @context.User.FindFirst(ClaimTypes.Role).Value
                                        </div>
                                    </div>
                                </div>
                                @*<i class='bx bx-log-out' id="log_out" href="logout"></i>*@
                                </a>
                                
                            </li>
                            <li>
                                <a href="logout">
                                    <i class='bx bx-log-out'></i>
                                    <span class="links_name">logout</span>
                                </a>
                                <span class="tooltip">logout</span>
                            </li>                            
                        </Authorized>
                        <NotAuthorized>                            
                            <li>
                                <a href="login">
                                    <i class='bx bx-log-in'></i>
                                    <span class="links_name">LogIn</span>
                                </a>
                                <span class="tooltip">LogIn</span>
                            </li>
                            <li>
                                <a href="SignUp">
                                    <i class='bx bx-user-plus'></i>
                                    <span class="links_name">Registration</span>
                                </a>
                                <span class="tooltip">Registration</span>
                            </li>
                            <li class="profile">
                                <div class="profile-details">
                                    @*<img src="profile.jpg" alt="profileImg">*@
                                    <i class='bx bxs-user-x'></i>
                                    <div class="name_job">
                                        <div class="name">You are not logged in</div>                                        
                                    </div>
                                </div>
                                @*<i class='bx bx-log-out' id="log_out" href="logout"></i>*@
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>

                    
                </ul>
            </div>
            <section class="home-section">
                @*<div class="text">Dashboard Movie Brazor</div>*@
                <div class="text">@Body</div>

            </section>



        


        @*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Homepage
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </div>

                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="AdminAccountManagement">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Account Management
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="MovieAdmin">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Movie Management
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Customer">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="MovieCustomer">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Movie
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Deposit">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Deposit
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="BuyVip">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Buy Vip
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Studio">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="MovieStudio">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Movie
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="CreateStudio">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Create Movie
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="SalaryStudio">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Salary
                            </NavLink>
                        </div>

                    </Authorized>
                </AuthorizeView>

                <AuthorizeView>

                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Profile">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> @context.User.Identity.Name
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="logout">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                            </NavLink>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Login">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="SignUp">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> SignUp
                            </NavLink>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </nav>
        </div>*@

    </main>
</div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("NavMenu");
        }

    }
    }
}