<h3>BuyVip</h3>

@page "/BuyVip"
@page "/BuyVip/{movieId}"
@attribute [Authorize(Roles = "Customer")]
<PageTitle>VIP package</PageTitle>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="Favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="row justify-content-center" style="margin:5px">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">
                                <div class=row>
                                    <div class="col">Get Vip</div>
                                    @if (content == "Success" && movieId != null)
                                    {
                                        string linkWatch = $"WatchCustomer/{movieId}";
                                        <div class="col text-md-right">
                                            <NavLink class="nav-link" href="@linkWatch">Watch</NavLink>
                                        </div>
                                    }
                                    @if (vipStatus == null)
                                    {
                                        <div class="col text-md-right">Loadding</div>
                                    }
                                    else
                                    {
                                        <div class="col text-md-right">Your VIP time: <span class="badge badge-danger">@vipStatus</span></div>
                                    }
                                </div>
                            </div>
                            <div class="card-body">
                                <EditForm Model="@vip" OnValidSubmit="@Buy">
                                    <DataAnnotationsValidator />
                                    <ValidationSummary />
                                    <InputRadioGroup @bind-Value="@vip.Choose">
                                        <div class="row" style="margin:5px">
                                            @if (movieId != null)
                                            {
                                                <div class="col-sm">Only this movie (4,99$) <InputRadio Value="0" /></div>
                                            }

                                            <div class="col-sm">1 month (9.99$) <InputRadio checker Value="1" /> </div>

                                            <div class="col-sm">3 month (27.49$) <InputRadio Value="3" /></div>

                                            <div class="col-sm">6 month (49.99$) <InputRadio Value="6" /></div>

                                            <div class="col-sm">12 month (97.49$) <InputRadio Value="12" /></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md align-self-center" style="margin:5px">
                                                <button type="submit" class="btn btn-primary">
                                                    Submit
                                                </button>
                                            </div>
                                            <div class="col-md align-self-center font-weight-bold text-md-right" style="margin:5px">You are Choosing @vip.Choose</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md" style="margin:5px">
                                                @if (showAlert)
                                                {
                                                    <MudAlert Severity="severity" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="(() => CloseAlert())">@content</MudAlert>
                                                }
                                            </div>
                                        </div>

                                    </InputRadioGroup>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin:5px; visibility: hidden;">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">Dashboard</div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">Date start</label>
                                    <div class="col-md-5">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">Date end</label>
                                    <div class="col-md-5">
                                        <input type="date" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-primary" style="margin: 5px; height:38px; width: 88px">Check</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
