@using Braintree
<PageTitle>Deposit</PageTitle>
<h3>DepositCustomer</h3>
@*<h3>If you cann't paypal turn your ad block off</h3>*@

@inject IJSRuntime JS
@page "/Deposit"
@attribute [Authorize(Roles = "Customer")]
@*

    @if (string.IsNullOrEmpty(content))
    {
    if (!doneCash)
    {
    <input type="number" step="0.01" min="0.01" @bind="cash" />
    <button @onclick="Cash">Ok</button>
    }
    else
    {
    <div>Deposit @cash</div>
    }

    <div id="dropin-container"></div>
    <form id="payment-form" method="post">
    <input type="submit" style="@divCSS" />
    <input type="hidden" id="nonce" name="nonce" />
    <input type="hidden" id="cash" name="cash" />
    </form>
    <div id="paypal-button"></div>
    }
    else
    {
    <div>@content</div>
    <button @onclick="Recharge">Recharge</button>
    }*@



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="Favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">



                <div class="row justify-content-center" style="margin:5px">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">
                                <div class=row>
                                    <div class="col">Deposit</div>
                                    <div class="col text-md-right"><span class="badge badge-success">If you cann't paypal, please turn your ad block off</span></div>
                                </div>
                            </div>
                            <div class="card-body">
                                @if (string.IsNullOrEmpty(content))
                                {
                                    if (!doneCash)
                                    {
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label text-md-right">Salary request</label>
                                            <div class="col-md-5">
                                                <input type="number" step="0.01" min="0.01"  class="form-control" @bind="cash" />
                                            </div>
                                            <div class="col-md-3">
                                                <button @onclick="Cash" class="btn btn-primary" style="margin: 5px; height:38px; width: 88px">OK</button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-3">Deposit @cash</div>
                                    }

                                    <div id="dropin-container"></div>
                                    <form id="payment-form" method="post">
                                        <input type="submit" style="@divCSS" />
                                        <input type="hidden" id="nonce" name="nonce" />
                                        <input type="hidden" id="cash" name="cash" />
                                    </form>
                                    <div id="paypal-button" ></div>
                                }
                                else
                                {
                                    <div class="col-md-3">@content</div>
                                    <button @onclick="Recharge" class="btn btn-primary" style="margin: 5px; height:38px; width: 88px">Recharge</button>
                                }

                            </div>
                        </div>
                    </div>
                </div>




                <div class="row justify-content-center" style="margin:5px; visibility: hidden;">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">Dashboard</div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">Date start</label>
                                    <div class="col-md-5">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">Date end</label>
                                    <div class="col-md-5">
                                        <input type="date" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-primary" style="margin: 5px; height:38px; width: 88px">Check</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>





