@page "/home"
@page "/"
@using Firebase.Storage

<PageTitle>MovieTV</PageTitle>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h1 class="mb-4 text-center animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
                    NOMINATION MOVIES
                </h1>
                <p class="mb-6 text-center text-muted animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptas harum aperiam minus corporis, nesciunt nobis quaerat voluptatumunt qui similique.
                </p>

            </div>
        </div> <!-- / .row -->


        <div class="row form-row align-items-center">
            <div class="col-3">

                <div class="img-square">
                    <img src="@getLink(0)" alt="..." class="img-cover">
                </div>

            </div>
            <div class="col-6">
                <div class="row form-row align-items-end mb-2">
                    <div class="col-7">

                        <div class="img-square">
                            <img src="@getLink(1)" alt="..." class="img-cover">
                        </div>

                    </div>
                    <div class="col-5">

                        <div class="img-square">
                            <img src="@getLink(2)" alt="..." class="img-cover">
                        </div>

                    </div>
                </div> <!-- / .row -->
                <div class="row form-row">
                    <div class="col-5">

                        <div class="img-square">
                            <img src="@getLink(3)" alt="..." class="img-cover">
                        </div>

                    </div>
                    <div class="col-7">

                        <div class="img-square">
                            <img src="@getLink(4)" alt="..." class="img-cover">
                        </div>

                    </div>
                </div> <!-- / .row -->
            </div>
            <div class="col-3">

                <div class="img-square">
                    <img src="@getLink(5)" alt="..." class="img-cover">
                </div>

            </div>
        </div> <!-- / .row -->
    </div>
</body>






