@page "/MovieStudio"
@attribute [Authorize(Roles = "Studio")]
@using Firebase.Storage
<PageTitle>Studio - Movie Management</PageTitle>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>



@*<input placeholder="Enter your text" @bind-value="@searchString" />
    <button class="btn btn-primary" @onclick="Search">Search</button>*@

<div class=container>
    <nav>
        <div class="sidebar-button">
            <span class="dashboard">MovieStudio</span>
        </div>
        <div class="search-box" style="margin-right:20%">
            <input type="text" placeholder="Search..." @bind="@searchString">
            <i class='bx bx-search' @onclick="Search"></i>
        </div>
        @*<div></div><div></div>*@
    </nav>
</div>






@if (movies == null)
{
    <div>Loading</div>
}
else
{
    <div class=container>
        <button class="btn btn-primary" @onclick="GenreSortParm">MovieGenre</button>
        <button class="btn btn-primary" @onclick="NameSortParm">MovieName</button>
        <button class="btn btn-primary" @onclick="DateSortParm">PremiereDate</button>
    </div>


    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4" style="padding:30px; border-radius: 12px">
            @foreach (var item in movies)
            {
                <div class="col">
                    <div class="card h-100">
                        @if(DicImageLink.ContainsKey(item.MovieId))
                        {
                            <img src="@DicImageLink[item.MovieId]" class="card-img-top" alt="..." style="width=320px; height: 280px"/>
                        }
                        else
                        {
                            <img class="card-img-top" alt="..." style="width=320px; height: 280px"/>
                        }
                        
                        <div class="card-body">
                            <h1 class="card-title" style="display: -webkit-box; max-width: 200px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;">@item.MovieName</h1>
                            <p class="card-text" style="display: -webkit-box; max-width: 200px; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;">
                                @item.MoviesDescription
                            </p>
                            <h5 class="card-text">Gender: @item.MovieGenre</h5>
                            <h6 class="card-text">Premiere Date: @item.PremiereDate.ToShortDateString()</h6>
                        </div>
                        <div class="card-footer">
                            @{
                                var linkEdit = $"EditMovieStudio/{item.MovieId}"; var linkBan = $"DeleteMovieStudio/{item.MovieId}";
                                var linkStatus = $"StatusStudio/{item.MovieId}";
                            }
                            <a href="@linkEdit" class="btn btn-primary">Edit</a>
                            <a href="@linkBan" class="btn btn-danger">Delete</a>
                            <a href="@linkStatus" class="btn btn-success">Status</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <button class="btn btn-primary" @onclick="LoadMore">More...</button>
}









