<h3>EditMovieStudio</h3>
@using System.IO
@using Firebase.Storage
@attribute [Authorize(Roles ="Studio")]
@page "/EditMovieStudio/{Id}"

@if (movie == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    

if(more)
    {
        <iframe src="@linkIframe" height="400" width="600"></iframe>
}
    else
    {   
        <EditForm Model="@movie" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    MovieId
    <InputText  @bind-Value="@movie.MovieId"/><br>
    StudioId
    <InputText  @bind-Value="@movie.StudioId"/><br>
    MovieGenre
    <InputText  @bind-Value="@movie.MovieGenre"/><br>
    MovieName
    <InputText  @bind-Value="@movie.MovieName"/><br>
    PremiereDate
    <InputDate  @bind-Value="@movie.PremiereDate"/><br>

    <button type="submit">Submit</button>
</EditForm>

<div>@content</div>

<div>After pick a file it auto Upload. If it is not a movie or image correct MIME it will not be uploaded.</div>
<div>Movie Up</div>
<InputFile OnChange="OnChooseMovieFile" />

<div>Image Up</div>
<InputFile OnChange="OnChooseImageFile" />


<div>If your upload more 500MB click this button</div>
        <button type="submit" @onclick="@Upload">Upload</button>
    }
}


@code{
    [Parameter]
        public string Id { get; set; }
        private MovieModel movie;
        private IBrowserFile movieFile;
        private IBrowserFile imageFile;
        private string content;
        private string linkUp;
        private string linkIframe;
        private bool more = false;
        protected override async Task OnInitializedAsync()
        {
            if (Id == null)
            {
                _navigationManager.NavigateTo("/MovieStudio");
            }
            movie = await _httpClient.GetFromJsonAsync<MovieModel>($"Studio/EditMovie/{Id}");
            linkUp = $"/Studio/MovieUpload/{movie.MovieId}";

            linkIframe = $"{_httpClient.BaseAddress}Studio/MovieUpload/{Id}";
        }

        private async Task HandleValidSubmit()
        {
            MovieModel moviePost = await _httpClient.GetFromJsonAsync<MovieModel>($"Studio/EditMovie/{Id}");
            movie.StudioId = moviePost.StudioId;
            movie.MovieId = moviePost.MovieId;
            HttpResponseMessage response = await _httpClient.PostAsJsonAsync<MovieModel>("Studio/EditMovie", movie);
            content = await response.Content.ReadAsStringAsync();
        }

        private async Task OnChooseMovieFile(InputFileChangeEventArgs e)
        {
            List<string> list = new List<string>
            {
                "video/x-msvideo",
                "video/mp4",
                "video/mpeg",
                "video/ogg",
                "video/mp2t",
                "video/webm",
                "video/3gpp",
                "video/3gpp2",
                "video/x-matroska"
            };
            if (list.Contains(e.File.ContentType))
            {
                movieFile = e.File;
                char[] tokena = await _httpClient.GetFromJsonAsync<char[]>("User/GetToken");
                string token = new string(tokena);
                FirebaseStorageTask task = new FirebaseStorage("movie2-e3c7b.appspot.com", new FirebaseStorageOptions { AuthTokenAsyncFactory = async () => await Task.FromResult(await Task.FromResult(token)), ThrowOnCancel = true, HttpClientTimeout = TimeSpan.FromHours(2) }).Child(movie.StudioId).Child(movie.MovieId).Child("Movie").PutAsync(movieFile.OpenReadStream(long.MaxValue));
                task.Progress.ProgressChanged += async (s, e) =>
                {
                    content = e.Percentage.ToString();
                };
                try
                {
                    await task;
                }
                catch
                {
                    content = "More 500MB use the other method upload";
                }
            }
            else
            {
                content = "Incorrect MIME";
            }
        }

        private async Task OnChooseImageFile(InputFileChangeEventArgs e)
        {
            List<string> list = new List<string>
            {
                "image/bmp",
                "image/gif",
                "image/jpeg",
                "image/png",
                "image/svg+xml",
                "image/tiff",
                "image/webp"
            };
            if (list.Contains(e.File.ContentType))
            {
                imageFile = (e.File);
                char[] tokena = await _httpClient.GetFromJsonAsync<char[]>("User/GetToken");
                string token = new string(tokena);
                FirebaseStorageTask task = new FirebaseStorage("movie2-e3c7b.appspot.com", new FirebaseStorageOptions { AuthTokenAsyncFactory = async () => await Task.FromResult(await Task.FromResult(token)), ThrowOnCancel = true, HttpClientTimeout = TimeSpan.FromHours(2) }).Child(movie.StudioId).Child(movie.MovieId).Child("Image").PutAsync(imageFile.OpenReadStream(long.MaxValue));
                task.Progress.ProgressChanged += async (s, e) =>
                {
                    content = e.Percentage.ToString();
                };
                try
                {
                    await task;
                }
                catch
                {
                    content = "More 500MB use the other method upload";
                }
            }
            else
            {
                content = "Incorrect MIME";
            }
        }
        private async Task Upload()
        {
        more = true;
    }
}