<h3>Profile</h3>
@attribute [Authorize]
@page "/profile"
<EditForm Model="@accountManagementModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    Id
    <InputText  @bind-Value="@accountManagementModel.Id"/><br>
    Email
    <InputText  @bind-Value="@accountManagementModel.Email"/><br>
    Wallet
    <InputNumber  @bind-Value="@accountManagementModel.Wallet"/><br>
    Role
    <InputText  @bind-Value="@accountManagementModel.Role"/><br>
    Name
    <InputText  @bind-Value="@accountManagementModel.Name"/><br>
    DateOfBirth
    <InputDate @bind-Value="@accountManagementModel.DateOfBirth"/><br>
    

    <button type="submit">Submit</button>
</EditForm>

<div>@content </div>

@code {
    public AccountManagementModel accountManagementModel = new AccountManagementModel();
    public string content;
    protected override async Task OnInitializedAsync()
    {
        accountManagementModel = await _httpClient.GetFromJsonAsync<AccountManagementModel>("user/Profile");
    }
    public async Task HandleValidSubmit()
    {
        var response =  await _httpClient.PostAsJsonAsync<AccountManagementModel>("user/EditProfile", accountManagementModel);
        
          content = await response.Content.ReadAsStringAsync();
        
        
        
    }
}
