<h3>Profile</h3>
@attribute [Authorize]
@page "/profile"
@inject IAccountService _accountService;
<EditForm Model="@accountManagementModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    Id
    <InputText  @bind-Value="@accountManagementModel.Id"/><br>
    Email
    <InputText  @bind-Value="@accountManagementModel.Email"/><br>
    Wallet
    <InputNumber  @bind-Value="@accountManagementModel.Wallet"/><br>
    Role
    <InputText  @bind-Value="@accountManagementModel.Role"/><br>
    Name
    <InputText  @bind-Value="@accountManagementModel.Name"/><br>
    DateOfBirth
    <InputDate @bind-Value="@accountManagementModel.DateOfBirth"/><br>
    

    <button type="submit">Submit</button>
</EditForm>

<div>@content </div>


<EditForm Model="@changeEmail" OnValidSubmit="ChangeEmail">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div>New Email</div>
    <InputText  @bind-Value="@changeEmail.Email"/><br>
    <div>Password</div>
    <InputText  @bind-Value="@changeEmail.Password"/><br>
    <button type="submit">Submit</button>
</EditForm>

 <button @onclick="ChangePass">Click here to send an Email to reset your password</button>
@code{
    ChangeEmailModel changeEmail = new ChangeEmailModel();


    public async Task ChangeEmail()
    {
        content = await (await _httpClient.PostAsJsonAsync<ChangeEmailModel>("User/ChangeEmail", changeEmail)).Content.ReadAsStringAsync();
         _accountService.Login();
         _navigationManager.NavigateTo("/Profile");
    }
    public async Task ChangePass()
    {
        _navigationManager.NavigateTo("/ResetPassword");
    }

    
}
