<h3>StatusStudio</h3>
@attribute [Authorize(Roles ="Studio")]
@page "/StatusStudio/{Id}"

@*@if(commentStatus.Count < 1)
{
    <div>loadding</div>
}
else
{
    <input type="datetime" @bind="start" />
    <input type="datetime" @bind="end" />

    <button @onclick="Submit">Submit</button>


    @*<div>Positive: @commentStatus[0]</div>

<div>Negative: @commentStatus[1]</div>


}*@

<input type="datetime" @bind="start" />
    <input type="datetime" @bind="end" />

    <button @onclick="Submit">Submit</button>
    <div>@content</div>

    @if(commentStatus.Count > 1)
{
    <div>Positive: @commentStatus[0]</div>

<div>Negative: @commentStatus[1]</div>
<div>View: @view</div>
}
