<h3>StatusStudio</h3>
@attribute [Authorize(Roles ="Studio")]
@page "/StatusStudio/{Id}"

@*@if(commentStatus.Count < 1)
{
    <div>loadding</div>
}
else
{
    <input type="datetime" @bind="start" />
    <input type="datetime" @bind="end" />

    <button @onclick="Submit">Submit</button>


    @*<div>Positive: @commentStatus[0]</div>

<div>Negative: @commentStatus[1]</div>


}*@
<input type="month" @bind="month" />
<button @onclick="Salary">Salary</button>

<input type="date" @bind="start" />
    <input type="date" @bind="end" />

    <button @onclick="Submit">Submit</button>
    <div>@content</div>

@*    @if(commentStatus.Count > 1)
{
    <div>Positive: @commentStatus[0]</div>
<div>Negative: @commentStatus[1]</div>
}*@

@foreach(var status in fullStatus)
{
    <div>Date: @status["Date"]</div>
    <div>Positive: @status["Positive"]</div>
    <div>Negative: @status["Negative"]</div>
    <div>View: @status["View"]</div>
    <div>Buy: @status["Buy"]</div>
    
}
