<h3>WatchCustomer</h3>
@page "/WatchCustomer/{Id}"
@attribute [Authorize(Roles ="Customer")]
@using Firebase.Storage
@if(movie == null || movieLink == null)
{
    @if(canWatch == null)
    {
        <div>Loadding</div>
    }
    else if(canWatch == false)
    {
        string linkVip = $"BuyVip/{Id}";
        <div>Need to buy</div>      
        <div><NavLink class="nav-link" href="@linkVip">Buy</NavLink></div>
    }
    
    
}
else
{
    <video src="@movieLink"  width="1280" height="720" controls></video>
}
@if (commentList != null)
{ 
    for(int i = 0;i < commentList.Count(); i++)
    {
        var local = commentList[i].Id;
        <div>Email: @commentList[i].Email, comment: @commentList[i].CommentText, Time: @commentList[i].Time</div>
        <div>Like = @commentList[i].Like, Dislike = @commentList[i].DisLike  </div>
        
        <button @onclick="@(async () => await AcLike(local))" >Like</button>
        <button @onclick="@(async () => await AcDisLike(local))" >DisLike</button>
    }
}


<input type="text" @bind=@Acomment>

<button @onclick="@Com" >Comment</button>

<div>@content</div>


