<h3>WatchCustomer</h3>
@page "/WatchCustomer/{Id}"
@attribute [Authorize(Roles ="Customer")]
@using Firebase.Storage

<PageTitle> test</PageTitle>

@if(movie == null || movieLink == null)
{
    @if(canWatch == null)
    {
        <div>Loadding</div>
}
    else if(canWatch == false)
    {
        
        string linkVip = $"BuyVip/{Id}";
        <div>Need to buy</div>      
        <div><NavLink class="nav-link" href="@linkVip">Buy</NavLink></div>
    }
    
    
}
else
{
        if(sameDevice)
        {
            <video src="@movieLink"  width="1280" height="720" controls @onclick="View"></video>
        }
        else
        {
            <div>You cannot watch in many Device at the same time Logout then Login to update your last Device</div> 
        }
    
}
@if (commentList != null)
{ 
    for(int i = 0;i < commentList.Count(); i++)
    {
        var local = commentList[i].Id;
        <div>Email: @commentList[i].Email, comment: @commentList[i].CommentText, Time: @commentList[i].Time</div>
        <div>Like = @commentList[i].Like, Dislike = @commentList[i].DisLike, Is: @commentList[i].Is  </div>
        
        <button @onclick="@(async () => await AcLike(local))" >Like</button>
        <button @onclick="@(async () => await AcDisLike(local))" >DisLike</button>
    }
}

<button @onclick="LoadMore">Click to load more </button>

<input type="text" @bind=@Acomment>

<button @onclick="@Com" >Comment</button>


<div>@content</div>


