<h3>BanAccount</h3>
@page "/BanAccount/{Id}"


@if(acc== null)
{
    <div>Loading</div>
}
else
{
    <div>Id:</div>
<div>@acc.Id</div>
<div>Email:</div>
<div>@acc.Email</div>
<div>Name:</div>
<div>@acc.Name</div>
<div>DateOfBirth:</div>
<div>@acc.DateOfBirth.ToShortDateString()</div>
<div>Role:</div>
<div>@acc.Role</div>
<div>Wallet:</div>
<div>@acc.Wallet</div>
}


<button class="btn btn-primary" @onclick="Ban">Ban</button>

<button class="btn btn-primary" @onclick="UnBan">UnBan</button>

<div>@content</div>


@code{
     [Parameter]
        public string Id { get; set; }

        protected AccountManagementModel acc;
        protected string content;
        protected override async Task OnInitializedAsync()
        {
            if (Id == null)
            {
                _navigationManager.NavigateTo("/AdminAccountManagement");
            }

            acc = await _httpClient.GetFromJsonAsync<AccountManagementModel>($"Admin/EditAccount/{Id}");
        }

        protected async Task Ban()
        {
            HttpResponseMessage response = await _httpClient.PostAsJsonAsync<string>("Admin/Ban", acc.Id);
            content = await response.Content.ReadAsStringAsync();
        }

        protected async Task UnBan()
        {
            HttpResponseMessage response = await _httpClient.PostAsJsonAsync<string>("Admin/UnBan", acc.Id);
            content = await response.Content.ReadAsStringAsync();
        }
}