<h3>EditMovie</h3>
@page "/EditMovieAdmin/{Id}"

@using System.IO
@using Firebase.Storage
@attribute [Authorize(Roles ="Admin")]



@if (movie == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <EditForm Model="@movie" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    MovieId
    <InputText  @bind-Value="@movie.MovieId"/><br>
    StudioId
    <InputText  @bind-Value="@movie.StudioId"/><br>
    MovieGenre
    <InputText  @bind-Value="@movie.MovieGenre"/><br>
    MovieName
    <InputText  @bind-Value="@movie.MovieName"/><br>
    PremiereDate
    <InputDate  @bind-Value="@movie.PremiereDate"/><br>

    <button type="submit">Submit</button>
</EditForm>

<div>@content</div>

<div>After pick a file it auto Upload. If it is not a movie or image correct MIME it will not be uploaded.</div>
<div>Movie Up</div>
<InputFile OnChange="OnChooseMovieFile" />

<div>Image Up</div>
<InputFile OnChange="OnChooseImageFile" />


<div>If your upload more 500MB click this button</div>
<button type="submit" @onclick="@Upload">Upload</button>
    
}

<div>@mp</div>
<div>@ip</div>


    

