<h3>EditAccount</h3>
@page "/EditAccount/{Id}"
@attribute [Authorize(Roles ="Admin")]
@if (acc == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <EditForm Model="@acc" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    Email
    <InputText  @bind-Value="@acc.Email"/>
    Name
    <InputText  @bind-Value="@acc.Name"/>
    Role
    <InputText  @bind-Value="@acc.Role"/>
    DateOfBirth
    <InputDate  @bind-Value="@acc.DateOfBirth"/>
    Wallet
    <InputNumber  @bind-Value="@acc.Wallet"/>

    <button type="submit">Submit</button>
</EditForm>
}

<div>@content</div>

@code
{
[Parameter]
        public string Id { get; set; }

        protected AccountManagementModel acc;
        protected string content;
        protected override async Task OnInitializedAsync()
        {
            if (Id == null)
            {
                _navigationManager.NavigateTo("/AdminAccountManagement");
            }

            acc = await _httpClient.GetFromJsonAsync<AccountManagementModel>($"Admin/EditAccount/{Id}");
        }

        protected async Task HandleValidSubmit()
        {
            HttpResponseMessage response = await _httpClient.PostAsJsonAsync<AccountManagementModel>("Admin/EditAccount", acc);
            content = await response.Content.ReadAsStringAsync();
        }
}