<h3>SalaryStudio</h3>
@page "/SalaryStudio"
@using System.Text.RegularExpressions
<div>Email</div>
<input @bind="@Email" type="email" required>
<div>Email Confirm</div>
<input @bind="@EmailConfirm" type="email" required>
<div>Cash</div>
<input type="number" step="0.01" @bind="@Cash" required>
<button @onclick="Submit">Submit</button>

@*<InputText  @bind-Value="@Email"/>
<div>Email Confirm</div>
<InputText  @bind-Value="@EmailConfirm"/>
<div>Cash</div>
<InputNumber  @bind-Value="@Cash"/>
<button @onclick="Submit">Submit</button>*@

<div>@content</div>

@code {
protected string Email;
        protected string EmailConfirm;
        protected double Cash;
        protected string content;
        protected async Task Submit()
        {
            try
            {
                System.Net.Mail.MailAddress addr = new System.Net.Mail.MailAddress(Email);
            }
            catch
            {
                content = "Not Email";
                return;
            }

            if (Email != EmailConfirm)
            {
                content = "Check your email";
            }
            else
            {
                content = await (await _httpClient.PostAsJsonAsync<Dictionary<string, string>>("Studio/Salary", new Dictionary<string, string>()
                {{"Email", Email}, {"Cash", Cash.ToString()}})).Content.ReadAsStringAsync();
            }
        }
}
